.form {
  display: flex;
  width: 600px;
  height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.date-container,
.distance-container {
  display: flex;
  width: 200px;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  width: 180px;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

input {
  width: 180px;
  height: 45px;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 52px;
  border-radius: 10px;
}

label {
  width: 180px;
  margin: 0 0 15px 0;
}

.error-message {
  width: 500px;
  height: 32px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  animation: fadeOut 7s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form {
  position: relative;
}